.main{
  margin-top: 10em;
}

.center{
  justify-content: center;
  padding: 10px;
}

.ui input{
  width: 75%;
  border-radius: 5px;
}

.item{
  padding: 15px 0px !important;
}

i.icon{
  float: right;
  font-size: 20px;
  cursor: pointer;
}